// @font-face {
//     font-family: 'Gotham';
//     src: url('../fonts/gotham-black.eot');
//     src: url('../fonts/gotham-black.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/gotham-black.woff2') format('woff2'),
//          url('../fonts/gotham-black.woff') format('woff'),
//          url('../fonts/gotham-black.ttf') format('truetype'),
//          url('../fonts/gotham-black.svg#gotham_blackregular') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
$lato: 'Lato';

* {
    font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.005);
}

