@import "vars";
@import "colors";
@import "functions";
@import "keyframes";
@import "fonts";
@import "reset";

// reset fonts properties
body,
html {
	@include media(mobile) {
		font-size: (1600 / strip-units($phone)) + vw;
	}
	@include media(tablet, landscape) {
		font-size: (1600 / strip-units($desktop)) + vw;
	}
	@include media(desktop) {
		font-size: (1600 / strip-units($layout)) + vw;
	}
}

body {
	height: 100vh;
	background-color: #333;

	@include media(mobile) {
		position: fixed;
		height: 100%;

		#root {
			height: 100%;
		}
	}
}

@import './Components/App.scss';
@import './Components/ThreeScene.scss';
@import './Components/LoadingOverlay.scss';
@import './Components/Interface.scss';




