#canvasContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    line-height: 0;
    overflow: hidden;

    @include media(mobile) {
        height: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $darkgrey;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity 1s, z-index 1s step-end;

        &.loading{
            opacity: 1;
            z-index: 2;
            transition: opacity 1s, z-index 1s step-end;
        }
    }
}

