#interface {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: default;
	pointer-events: none;

	.overlay {
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(to right, 
			rgba($black, .85),
			rgba($black, .6),
			rgba($black, .35),
			rgba($white, 0));
		opacity: 0;

		.overlay_title {
			position: absolute;
			top: 42.5%;
			left: 7.8125vw;
			line-height: 4.6875vw;
			height: auto;
			font-family: $lato;
			font-size: 3.6458vw;
			font-weight: 300;
			color: $white;
			transform: translateY(-50%);

			@include media(mobile, "portrait") {
				left: rem(30);
				font-size: rem(35);
				line-height: rem(55);
			}

			b {
				font-size: 5.9895vw;
				font-style: normal;
				font-weight: 700;

				@include media(mobile, "portrait") {
					font-size: rem(85);
				}
			}
		}

		.overlay_subtitle {
			position: absolute;
			top: 50%;
			color: $white;
			margin-left: 7.8125vw;
			margin-top: 6.51vw;
			font-family: $lato;
			font-weight: 300;
			font-size: 1.82vw;

			@include media(mobile, "portrait") {
				font-size: rem(20);
				top: 40%;
				line-height: rem(25);
				margin-left: rem(30);
				margin-top: rem(125);
			}
		}

		&.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	.tutorial {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba($grey, .8);
		z-index: -1;
		pointer-events: auto;
		transform: translateX(-200%);
		
		.step {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 39.0625vw;
			height: 39.0625vw;
			background-color: $darkgrey;
			font-family: $lato;
			color: $white;
			font-size: 0.9375vw;
			border-radius: rem(10);
			opacity: 0;
			transition: opacity .5s;
			visibility: hidden;

			@include media(mobile, 'portrait') {
				width: rem(300);
				height: rem(300);
				font-size: rem(18);
			}

			&.active {
				opacity: 1;
				visibility: visible;
			}

			.step1-img, .step2-img {
				position: absolute;
				width: 7.8125vw;
				height: 7.8125vw;
				left: 50%;
				transform: translateX(-50%);
				top: 7.8125vw;

				@include media(mobile, 'portrait') {
					top: rem(125);
					width: rem(75);
					height: rem(75);
				}
			}

			.step1-img {
				background-image: url("../images/left-btn_mouse.svg");
			}

			.step2-img {
				background-image: url("../images/mouse-wheel.svg");
			}

			.description {
				position: absolute;
				bottom: 13.02vw;
				width: 100%;
				text-align: center;

				@include media(mobile, 'portrait') {
					line-height: rem(25);
					width: 80%;
					bottom: rem(250);
					left: 50%;
					transform: translateX(-50%);
					top: rem(20);
				}
			}

			.next-step {
				bottom: 3.90vw;
				left: 50%;
				transform: translateX(-50%);

				@include media(mobile, 'portrait') {
					bottom: rem(20);
				}
	
				&:hover {
					background-color: $white;
					color: $grey;
					transform: translateX(-50%) scale(1.03);
				}
	
				&:active {
					color: $grey;
					transform: translateX(-50%) scale(.95);
				}
			}
		}

		&.active {
			z-index: 1;
			transform: translateX(0);
		}
	}

	button {
		position: absolute;
		width: 9.765625vw;
		height: 2.9296vw;
		pointer-events: auto;
		border: 0.1041vw solid $white;
		font-family: 'Lato';
		font-size: 1.145vw;
		color: $white;
		background-color: rgba($black, 0);
		transition: transform .3s, color .3s, background-color .3s;
		z-index: 1;
		cursor: pointer;

		@include media(mobile, "portrait") {
			width: rem(140.625);
			height: rem(42.1875);
			font-size: rem(16.5);
			border: rem(2) solid $white;

		}

		&.inactive {
			z-index: 0;
		}

		&:hover {
			background-color: $white;
			color: $grey;
		}
		
		&.frequency, &.showDetails, &.begin {
			@include media(desktop){
				&.selected {
					background-color: $white;
					color: $grey;
					transform: scale(.97);
				}

				&:hover {
					background-color: $white;
					color: $grey;
					transform: scale(1.03);			
				}

				&:active {
					color: $grey;
					transform: scale(.95);
				}
			}
		}
	}

	.showDetails {
		position: absolute;
		bottom: 5.2083vw;
		right: 7.8125vw;
		opacity: 1;
		visibility: visible;
		transition: transform .3s, color .3s, background-color .3s, opacity .5s, visibility 0s;

		@include media(mobile, 'portrait') {
			right: rem(30);
			bottom: rem(50);
		}

		&.hidden {
			opacity: 0;
			visibility: hidden;
			transition: border .3s, color .3s, background-color .3s, opacity .5s, visibility 0s .5s;
		}
	}
	
	.begin {
		bottom: 5.2083vw;
		left: 7.8125vw;
		opacity: 1;
		transform: translateX(0);
		transition: transform .5s ease-out, opacity .5s;

		@include media(mobile, "portrait") {
			left: rem(30);
			bottom: rem(50);
		}

		&.faded {
			opacity: 0;
			transform: translateX(-190%);
			transition: transform .5s ease-in, opacity .5s;
		}
	}

	.control-panel {
		position: absolute;
		top: 4.427vw;
		right: 7.8125vw;
		width: auto;

		@include media(mobile, 'portrait') {
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #333;

			&.hidden {
				background-color: transparent;
			}

			&.minimized {
				display: none;
			}
		}
		
		li {
			button {
				display: inline-block;
				position: relative;
				bottom: 0;
				right: 0;
				height: 2.8645vw;
				margin-top: 0.78125vw;
				font-size: 1.145vw;
				opacity: 1;
				visibility: visible;
				transition: transform .3s, color .3s, background-color .3s, opacity .5s, visibility 0s;

				@include media(mobile, 'portrait') {
					left: 50%;
					transform: translateX(-50%);
					top: rem(100);
					height: rem(55);
					margin-top: rem(15);
					font-size: rem(22);
				}

				&.frequency {
					width: 11.71875vw;
					
					@include media(mobile, 'portrait') {
						width: rem(225);
					}
				}
				
				&.hidden {
					opacity: 0;
					visibility: hidden;
					transition: border .3s, color .3s, background-color .3s, opacity .5s, visibility 0s .5s;
				}
			}
		}

	}

	.details-panel {
		position: absolute;
		pointer-events: auto;
		opacity: 0;
		top: 50%;
		transform: translateX(-105%) translateY(-50%);
		transition: transform .5s ease-in, opacity .5s, height .5s;
		width: 30vw;
		height: 85vh;
		border: solid 0.2083vw $white;

		@include media(mobile, 'portrait'){
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0; 
			left: 0;
			transform: none;
			visibility: hidden;
			z-index: 1;
			border: solid rem(4) $white;
		}

		.details_container {
			width: 100%;
			height: 100%;
			overflow-y: auto;

			.details_close-btn {
				position: absolute;
				right: 0.78125vw;
				top: 0.78125vw;
				width: 1.823vw;
				height: 1.823vw;

				@include media(mobile, 'portrait') {
					right: rem(15);
					top: rem(10);
					width: rem(35);
					height: rem(35);
				}
	
				&:before {
					content: '';
					box-sizing: border-box;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 0.052vw;
					height: 1.3020vw;
					border-right: solid 0.1041vw $white;
					transform: translate(-50%, -50%) rotate(45deg);

					@include media(mobile, 'portrait') {
						width: rem(1);
						height: rem(25);
						border-right: solid rem(2) $white;
					}
				}
	
				&:after {
					content: '';
					box-sizing: border-box;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 0.052vw;
					height: 1.3020vw;
					border-right: solid 0.1041vw $white;
					transform: translate(-50%, -50%) rotate(-45deg);

					@include media(mobile, 'portrait') {
						width: rem(1);
						height: rem(25);
						border-right: solid rem(2) $white;
					}
				}
	
				&:hover {
					&:before {
						content: '';
						box-sizing: border-box;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 0.052vw;
						height: 1.3020vw;
						border-right: solid 0.1041vw $grey;
						transform: translate(-50%, -50%) rotate(45deg);

						@include media(mobile, 'portrait') {
							width: rem(1);
							height: rem(25);
							border-right: solid rem(2) $white;
						}
					}
	
					&:after {
						content: '';
						box-sizing: border-box;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 0.052vw;
						height: 1.3020vw;
						border-right: solid 0.1041vw $grey;
						transform: translate(-50%, -50%) rotate(-45deg);

						@include media(mobile, 'portrait') {
							width: rem(1);
							height: rem(25);
							border-right: solid rem(2) $white;
						}
					}
				}
			}
			
			.details_title {
				position: relative;
				font-family: $lato;
				color: $white;
				font-size: 2.34375vw;
				line-height: 2.34375vw;
				margin-top: 6.77vw;
				text-align: center;
				width: 100%;

				@include media(mobile, 'portrait') {
					font-size: rem(45);
					line-height: rem(45);
					margin-top: rem(130);
				}
			}
	
			.details_description {
				position: relative;
				font-family: $lato;
				color: $white;
				width: 80%;
				text-align: justify;
				font-size: 1.041vw;
				margin: 3.90625vw auto 0;
				line-height: 1.40625vw;

				@include media(mobile, 'portrait') {
					font-size: rem(20);
					margin: rem(75) auto 0;
					line-height: rem(27);
				}
			}
	
			.player-container {
				width: auto;
				height: auto;
				
				.player-commands {
					position: absolute;
					bottom: 7.8125vw;
					left: 50%;
					transform: translate(-50%);
					width: 18.22vw;
					line-height: 2.34375vw;
		
					@include media(mobile, 'portrait') {
						position: relative;
						display: inline-block;
						vertical-align: bottom;
						left: 0;
						bottom: 0;
						top: 0;
						right: 0;
						transform: none;
						width: 75%;
						line-height: rem(35);
						margin-left: rem(27.5);
						margin-top: rem(25);
						
						&.minimized {
							margin-top: rem(12.5);
						}
					}
		
					.play-btn{
						position: absolute;
						display: inline-block;
						vertical-align: middle;
						width: 18.229vw;
						height: 2.34375vw;
						transition: width .3s, left .3s, background-color .3s, color .3s;
						background-color: #333;
		
						@include media(mobile, 'portrait') {
							width: 100%;
							height: rem(35);
						}
						
						&:hover {
							background-color: $white;
							color: $grey;
						}
		
						&.playing {
							width: 2.34375vw;
							background-color: transparent;
	
							@include media(mobile, 'portrait') {
								width: rem(35);
							}
						}
		
						&:hover.playing {
							background-color: $white;
							color: $grey;
						}
					}
		
					.time-control {
						border: solid 0.1041vw $white;
						margin-left: 2.291vw;
						height: 2.34375vw;
						box-sizing: border-box;
	
						@include media(mobile, 'portrait') {
							border: solid rem(2) $white;
							margin-left: rem(33);
							height: rem(35);
						}
		
						.time-slider {
							position: relative;
							display: inline-block;
							visibility: hidden;
							width: 60%;
							height: 2.135vw;
							margin-left: 0.78125vw;
							margin-top: 0;
							margin-bottom: 0;
							pointer-events: none;
							
							&.playing {
								visibility: visible;
								pointer-events: auto;
							}
							
							@include media(mobile, 'portrait') {
								position: relative;
								height: rem(31);
								margin-left: rem(12.5);
							}
	
							@include media(mobile, 'landscape') {
								transform: translateY(-20%);
							}
						}
		
						.time-elapsed, .time-duration {
							display: inline-block;
							vertical-align: top;
							font-family: $lato;
							color: $white;
							font-size: 0.625vw;
							margin-left: 0.78125vw;
		
							@include media(mobile, 'portrait') {
								font-size: rem(10);
								line-height: rem(31);
								vertical-align: top;
								margin-left: rem(7.5);
							}
						}
					}
				}
		
				.minimize {
					position: relative;
					display: inline-block;
					width: rem(35);
					height: rem(35);
					margin-left: rem(-3);
					text-align: center;
					font-size: rem(25);
	
					&:before {
						content: '';
						box-sizing: border-box;
						position: absolute;
						height: rem(15);
						width: rem(1);
						left: 35%;
						top: 50%;
						border-right: solid rem(2) $white;
						transform: translate(-35%, -50%) rotate(40deg);
					}
	
					&:after {
						content: '';
						box-sizing: border-box;
						position: absolute;
						height: rem(15);
						width: rem(1);
						left: 65%;
						top: 50%;
						border-right: solid rem(2) $white;
						transform: translate(-65%, -50%) rotate(-40deg);
					}
	
					&:hover{
						&:before {
							content: '';
							box-sizing: border-box;
							position: absolute;
							height: rem(15);
							width: rem(1);
							left: 35%;
							top: 50%;
							border-right: solid rem(2) #666;
							transform: translate(-35%, -50%) rotate(40deg);
						}
		
						&:after {
							content: '';
							box-sizing: border-box;
							position: absolute;
							height: rem(15);
							width: rem(1);
							left: 65%;
							top: 50%;
							border-right: solid rem(2) #666;
							transform: translate(-65%, -50%) rotate(-40deg);
						}
					}
				}
			}

			@include media(mobile) {
				overflow-y: hidden;
			}
		}

		&.active {
			box-sizing: border-box;
			transform: translateX(20%) translateY(-50%);
			opacity: 1;
			transition: transform .5s ease-out, opacity .5s;

			@include media(mobile, 'portrait') {
				transform: none;
				background-color: #333;
				visibility: visible;
			}
		}

		&.minimized {
			height: rem(65);

			.details_close-btn {
				display: none;
			}

			.details_title {
				display: none;
			}

			.details_description {
				display: none;
			}

			.player-commands {
				display: inline-block;
				left: 0;
				margin-left: rem(15);
				margin-top: rem(10);
				transform: none;
			}

			.minimize {
				position: relative;
				margin: 0;
				left: 0;
				transform: none;
				display: inline-block;
				vertical-align: bottom;
				margin-left: rem(25);
				transform: rotate(180deg);
			}
		}
	}
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}
  
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: lighten($red, 5%);
	cursor: pointer;
	transform: translateY(-35%) rotate(45deg);
	height: 0.52vw;
	width: 0.52vw;
	
	@include media(mobile, 'portrait') {
		height: rem(10);
		width: rem(10);
	}
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.15625vw;	
	cursor: pointer;
	// box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: $white;
	// border-radius: 1.3px;
	// border: 0.2px solid #010101;
	
	@include media(mobile, 'portrait') {
		height: rem(3);
	}
}