.loading_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	.loading_progress-bar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		.loading_outterBar {
			width: 26.04vw;
			height: 2.604vw;
			border: solid 0.2vw $white;
			background-color: $darkgrey;

			@include media(mobile, 'portrait'){
				border: solid rem(2) $white;
				background-color: #fff;
				width: rem(250);
				height: rem(25);
			}

			.loading_innerBar {
				height: 2.604vw;
				width: 0;
				background-color: $red;
				transition: width .5s;
				box-sizing:	content-box;

				@include media(mobile, 'portrait'){
					height: rem(25);
				}
			}
		}

		.loading_progress {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -1.3vw;
			font-family: $lato;
			font-size: 1.5625vw;
			color: $white;

			@include media(mobile, 'portrait') {
				font-size: rem(30);
				bottom: rem(-25);
			}
		}
	}

	@keyframes loading_icon {
		0% {
			top: rem(96);
			left: rem(96);
			width: 0;
			height: 0;
			opacity: 1;
		}
		50%{
			opacity: 1;
		}
		100% {
			top: rem(-75);
			left: rem(-75);
			width: rem(360);
			height: rem(360);
			opacity: 0;
		}
	}
	@-webkit-keyframes loading_icon {
		0% {
			top: rem(96);
			left: rem(96);
			width: 0;
			height: 0;
			opacity: 1;
		}
		50%{
			opacity: 1;
		}
		100% {
			top: rem(-75);
			left: rem(-75);
			width: rem(360);
			height: rem(360);
			opacity: 0;
		}
	}

	.loading_icon {
		position: relative;
		opacity: .5;
	}

	.loading_icon div {
		box-sizing: content-box;
		position: absolute;
		border-width: rem(6);
		border-style: solid;
		opacity: 1;
		border-radius: 50%;
		-webkit-animation: loading_icon 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: loading_icon 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}

	.loading_icon div:nth-child(1) {
		border-color: #c1c1c1;
	}
	.loading_icon div:nth-child(2) {
		border-color: #c33939;
		-webkit-animation-delay: -1s;
		animation-delay: -1s;
	}
	.loading_icon {
		width: rem(128) !important;
		height: rem(128) !important;
		-webkit-transform: translate(rem(-64), rem(-64)) scale(0.64) translate(rem(64), rem(64));
		transform: translate(rem(-64), rem(-64)) scale(0.64) translate(rem(64), rem(64));
	}
}