$distance: 7vw;

canvas {
	position: absolute;
	cursor: grab;
	background-color: $red;
	transition: transform .5s, background-color 2s;

	@include media(desktop){
		&.active {
			transform: translateX($distance);
		}
	}

	&.no_overlay {
		background-color: #333;
	}
}

.track {
	.highlight {
		opacity: 0;
		transition: margin-left .5s, opacity .5s;
		
		&.active {
			margin-left: $distance;
			opacity: 1;
		}
	}
}


